.header {
    background-color: lightgray;
}

.theme_button {
    border: 1px solid black;
    padding: 3px 5px;
}

.card_content {
    border-radius: 0.25rem;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    background: white;
}